- 
    var 
    sliderItems = [
        ["http://cy01273.tmweb.ru/fit/intro.html", "1.png", 'HTML5, CSS3', 'Сайт фитнес-центра'],
        ["http://cy01273.tmweb.ru/mrburger/", "2.png", 'HTML5, SASS, JS, Jquery, PHP', 'Лендинг бургерной'],
        ["http://cy01273.tmweb.ru/portfolio", "3.png", 'PUG, SASS, JS, Jquery, Node.js, Mongo DB, VUE', 'Сайт-портфолио']
    ]

ul.works-slider__control-list
    each item in sliderItems
        li.works-slider__control-item(data-full="./assets/images/slides/"+item[1]+"" data-title=""+item[3]+"" data-skills=""+item[2]+"" data-link=""+item[0]+"")
            img.works-slider___control-img(src="./assets/images/slides/"+item[1]+"" alt=""+item[3]+"")