- 
    var socials = [
        ['vk', 'https://vk.com/id7723602'],
        ['github', 'https://github.com/mmolchanova'],
        ['in', '#']
    ]

ul.socials-list
    each item in socials
            a(href=item[1] target="_blank").socials__link
                svg.socials__icon(width="30" height="25")
                    use(xlink:href="assets/images/sprite.svg#"+item[0])