ul.technologies
    li.technologies__item
        h3.technologies__title Frontend
        .diagram
            ul.diagram__list
                li.diagram__item
                    svg.diagram__circle-block(viewBox="0 0 110 110")
                        circle.diagram__circle-first(r="45" cx="50%" cy="50%" fill="none")
                        circle.diagram__circle-second.circle-90(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)")
                    span.diagram__text HTML5
                li.diagram__item
                    svg.diagram__circle-block(viewBox="0 0 110 110")
                        circle.diagram__circle-first(r="45" cx="50%" cy="50%" fill="none")
                        circle.diagram__circle-second.circle-80(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)")
                    span.diagram__text CSS3
                li.diagram__item
                    svg.diagram__circle-block(viewBox="0 0 110 110")
                        circle.diagram__circle-first(r="45" cx="50%" cy="50%" fill="none")
                        circle.diagram__circle-second.circle-50(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)")
                    span.diagram__text JavaScript &amp; jQuery
    li.technologies__item
        h3.technologies__title Backend
        .diagram
            ul.diagram__list
                li.diagram__item
                    svg.diagram__circle-block(viewBox="0 0 110 110")
                        circle.diagram__circle-first(r="45" cx="50%" cy="50%" fill="none")
                        circle.diagram__circle-second.circle-10(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)")
                    span.diagram__text PHP
                li.diagram__item
                    svg.diagram__circle-block(viewBox="0 0 110 110")
                        circle.diagram__circle-first(r="45" cx="50%" cy="50%" fill="none")
                        circle.diagram__circle-second.circle-5(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)")
                    span.diagram__text mySQL
                li.diagram__item
                    svg.diagram__circle-block(viewBox="0 0 110 110")
                        circle.diagram__circle-first(r="45" cx="50%" cy="50%" fill="none")
                        circle.diagram__circle-second.circle-15(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)")
                    span.diagram__text Node.js &amp; npm
                li.diagram__item
                    svg.diagram__circle-block(viewBox="0 0 110 110")
                        circle.diagram__circle-first(r="45" cx="50%" cy="50%" fill="none")
                        circle.diagram__circle-second.circle-15(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)")
                    span.diagram__text Mongo.db
    li.technologies__item
        h3.technologies__title WorkFlow
        .diagram
            ul.diagram__list
                li.diagram__item
                    svg.diagram__circle-block(viewBox="0 0 110 110")
                        circle.diagram__circle-first(r="45" cx="50%" cy="50%" fill="none")
                        circle.diagram__circle-second.circle-60(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)")
                    span.diagram__text Git
                li.diagram__item
                    svg.diagram__circle-block(viewBox="0 0 110 110")
                        circle.diagram__circle-first(r="45" cx="50%" cy="50%" fill="none")
                        circle.diagram__circle-second.circle-60(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)")
                    span.diagram__text Gulp
                li.diagram__item
                    svg.diagram__circle-block(viewBox="0 0 110 110")
                        circle.diagram__circle-first(r="45" cx="50%" cy="50%" fill="none")
                        circle.diagram__circle-second.circle-40(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)")
                    span.diagram__text Bower