extends ../template

block variables
    - var title = 'Обо мне'

block content
    .header
        div.socials
            .socials__ico
            .socials__ico
            .socials__ico
        .general-block
            .general-block__img
                img.general-block__pic(style="background-image: url(assets/images/photo.jpg);")
            h1.general-block__title Мария Молчанова
            .general-block__description Личный сайт веб разработчика
        .hamburger
        .arrow

    .container
        .content.about
            .about__column
                .block-about
                    h1.block-about__title.block-about__title--large Обо мне
                .block-about
                    .block-about__img
                    h2.block-about__title
                    .block-about__desc
                        p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                        p Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            .about__column
                .block-about
                    h2.block-about__title Чем я могу быть вам полезна
                    .block-about__desc Больше всего меня привлекет Frontend разработка, но я также знакома и могу решать не сложные задачи на Backend. Но давайте по порядку.
                    include ../common/technologies.pug

                    
