extends ../template

block variables
    - var title = 'Авторизация'
    - 
        var nav = [
            ['my_works', 'Мои работы'],
            ['about', 'Обо мне'],
            ['blog', 'Блог']
        ]
    - 
        var navAuto = [
            ['index', 'На главную'],
            ['enter', 'Войти'],
        ]

block scripts
    script(src="./assets/scripts/authorization.js" defer)

block content
    .desert
    .wrapper
        .flip-container(ontouchstart="this.classList.toggle('hover');")
            .flipper
                .back
                    .main-block
                        .main-block__info
                            .main-block__user
                                include ../common/user.pug
                            include ../common/socials.pug
                        nav.nav-block
                            ul.nav-block__list
                                each item in nav
                                    li.nav-block__item 
                                        a(href="./"+item[0]+".html") #{item[1]}
                .front    
                    .main-block
                        include ../common/authorization-form.pug 
        .copyright
            ul.copyright__list
                each item in ['© Мария Молчанова', 'создано с любовью в LoftSchool', '2018']
                    li.copyright__item #{item}