extends ../template

block variables
    - var title = 'Добро пожаловать'
    - 
        var nav = [
            ['my-works', 'Мои работы'],
            ['about', 'Обо мне'],
            ['blog', 'Блог']
        ]

block content
    .wrapper
        .main-block
            .main-block__info
                include ../common/user.pug
                ul.socials
                    each item in ['vk', 'tw', 'in']
                        li.socials__item
                            a(href=`${item}`).socials__link
            nav.nav-block
                ul.nav-block__list
                    each item in nav
                        li.nav-block__item 
                            a(href="./"+item[0]+".html") #{item[1]}
        .authorization
            a.authorization__btn(href="#") Авторизоваться
        .copyright
            ul.copyright__list
                each item in ['© Владимир Астахов', 'создано с любовью в LoftSchool', '2016']
                    li.copyright__item #{item}
