.about {
    width: 100%;
    z-index: 5; 
    display: flex;
    color: $dark;
    height: 100%;
}

.about__column {
    width: 50%;
    display: flex;
    // height: 100%;
}

.about__column--left {
    background-color: $bg;

}

.about__column--right {
    background-color: $bg-beige;
}

.about__block {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 2%;
}

.about__img {
    width: 25vw;
    max-height: 25vw;
    overflow: hidden;
}

.about__pic {
    width: 100%;
    transform: translateY(-27%);
}

.map {
    &:after {
        content: "";
        display: block;
        height: 145px;
    } 
}