.about {
    width: 100%;
    z-index: 5; 
    display: flex;
    color: $dark;
    height: 100%;

    @include tablets {
        flex-direction: column;
    }
}

.about__column {
    width: 50%;
    display: flex;
    flex-direction: column;
    // align-items: center;

    @include tablets {
        width: 100%;
        align-items: center;
    }
}

.about__column--left {
    background-color: $bg;
    flex-direction: row;
    align-items: flex-start;
    flex: 0 0 auto;
    padding-right: 15px;

    @include smallDesktop {
        flex-direction: column;
        align-items: center;
        padding-right: 0;
    }
}

.about__column--right {
    background-color: $bg-beige;
}

.about__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 5px;

    @include tablets {
        width: 480px;
        margin-bottom: 10px;
    }

    &--right {
        @include tablets {
            width: 600px;
            margin-top: 45px;
        }        
        @include phones {
            margin-top: 10px;
        }
    }

    @include phones {
        width: 100%;
    }
}

.about__title {
    margin-bottom: 32px;
    margin-top: -15px;
    max-width: 430px;

    @include tablets {
        margin-top: 20px;
    }

    @include phones {
        margin-top: 12px;
        margin-bottom: 18px;
    }
}

.about__img {
    width: 100%;
    overflow: hidden;
    margin-top: 7px;
    margin-bottom: 30px;
    height: 21.5vw;

    @include smallDesktop {
        margin-top: 0;
        width: 76%;
        height: 32vw;
    }

    @include tablets {
       width: 100%;
       height: 53vw;
       margin-bottom: 35px;
    }

    @include phones {
        height: 84vw;
        margin-bottom: 23px;
    }
}

.about__pic {
    width: 100%;
}

.about__subtitle {
    margin-bottom: 25px;
    max-width: 350px;

    &--left {
        margin-bottom: 5px;
        @include tablets {
            margin-bottom: -10px;
        } 
        @include phones {
            margin-bottom: -7px;
        }
    }  

    @include tablets {
        max-width: 300px;
        margin-bottom: 8px;
    } 

    @include phones {
        max-width: 250px;
        margin-bottom: 13px;
    }
}

.about__desc {
    line-height: 1.5;
    margin-bottom: 45px;

    &--left {
        @include smallDesktop {
            width: 76%;
            margin-bottom: 18px;
        }
        @include tablets {
            width: 100%;
         }
    }  

    @include tablets {
        width: 480px;
        line-height: 1.71;
    }

    @include phones {
        width: 100%;
        margin-left: 10px;
        margin-bottom: 20px;
    }
}

.about__content {
    margin-left: 32px;

    @include tablets {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
}