.blog__wrap {
    display: flex;
    flex-direction: column;
    background-color: $bg;

    &:after {
        content: "";
        display: block;
        height: 145px;
    }  

    @include tablets {
        &:after {
            content: "";
            display: block;
            height: 223px;
        } 
    }

    @include phones {
        &:after {
            content: "";
            display: block;
            height: 345px;
        } 
    }   
}

.blog {
    width: 100%;
    z-index: 5; 
    display: flex;
    color: $dark;
    height: 100%;
    margin-top: 43px;

    @include phones {   
        margin-top: 30px; 
    }  
}

.blog__left {
    width: 25vw;   
    position: relative; 

    @include smallDesktop {
        width: 26vw;
    }

    @include tablets {
        position: fixed;
        background-color: $yellow;
        top: 0;
        left: 0;
        min-height: 100%;
        transform: translateX(-100%);
        transition: .5s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: 250px;
     }

    &--visually {
        @include tablets {
            transform: translateX(0);
        }

        .blog__circle-block {
            @include tablets {
                opacity: 1;
            }
        }
    }

}

.blog__nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablets {
        width: 100%;
    }

}

.blog__nav.fixed {
    width: 25vw;    
    position: fixed;
    top: 0;
    left: 0;    

    @include smallDesktop {
        width: 26vw;
    }    
   
    @include tablets {
        display: flex;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
}

.nav-blog__list {
    max-width: 333px;
    margin-top: 8px;
}

.nav-blog__item {
    display: flex;
    justify-content: flex-end;
    border: none;
    margin-bottom: 3px;
    line-height: 1.71;
    transition: .3s;
    border-right: 3px solid transparent;
    font: 400 16px 'roboto';

    &:hover {
        cursor: pointer;
    }

    &--active {
        border-right: 3px solid $rust;
        
        .nav-blog__link {
            font: 700 16px 'roboto';
            color: $rust;
        }

    }

    @include tablets {
        border: none;

        .nav-blog__link {
            font: 300 16px 'roboto';
            color: #fff;
            opacity: 0.8;
        }

        &--active {
            border: none;            
            .nav-blog__link {
                opacity: 1;
                font: 700 16px 'roboto';
            }
        }        
    }
}

.nav-blog__link {
    text-decoration: none;
    color: $dark;
    display: inline-flex;
    text-align: right;
    margin: 11px 16px 11px 10px;   
}

.blog__circle-block {
    display: none;
    
    @include tablets {
        display: block;
        width: 25px;
        height: 50px;
        position: absolute;    
        right: 0;
        top: 50%;
        transform: translateX(80%);
        opacity: 0.8;
    }
}

.blog__circle {
    fill: $yellow;
}

.blog__content {
    width: 75%;

    @include smallDesktop {
        width: 66%;
    }

    @include tablets {
        width: 100%;
    }
}

.blog__list {
    max-width: 880px;
    margin-left: 59px;
    margin-bottom: -14px;

    @include smallDesktop {
        margin-left: 12.25%;
        margin-bottom: -18px;
    }

    @include tablets {
        margin-right: 3%;
        margin-left: 3%;
        margin-bottom: 79px;
    }

    @include phones {
        margin-bottom: 113px;
    }
}

.blog__item {
    border-bottom: 5px solid #ecebe4; 
    margin-bottom: 65px;

    &:last-child {
        border: none;
    }

    @include smallDesktop {
        margin-bottom: 63px;
    }

    @include tablets {
        margin-bottom: 45px;
    }

    @include phones {
        margin-bottom: 27px;
    }
}

.blog__title {
    margin-bottom: 17px;

    @include tablets {
        font: 500 30px 'sansus_webissimo';
        margin-bottom: 8px;
    }

    @include phones {
        font: 500 21px 'sansus_webissimo';
        margin-bottom: 8px;
    }
}

.blog__data {
    color: $rust;
    margin-bottom: 27px;

    @include tablets {
        margin-bottom: 17px;
    }
}

.blog__desc {
    margin-bottom: 70px;

    @include smallDesktop {
        margin-bottom: 80px;
    }

    @include tablets {
        margin-bottom: 51px;
    }

    @include phones {
        margin-bottom: 18px;
    }
}

.blog__desc-text {
    line-height: 1.71;

    p {
        margin-top: -10px;
    }

    @include smallDesktop {
        line-height: 1.625;
        
        p {
            margin-top: -8px;
        }
    }

    @include tablets {
        line-height: 1.5;
        
        p {
            margin-top: -6px;
        }
    }
}

.blog__desc-snippet {
    background: center center no-repeat;
    background-size: contain;
    max-width: 100%;
    min-height: 110px;

    @include phones {
        min-height: 70px;
    }
}