.desert {
    background: url('../images/sand.jpg') repeat-x bottom left;
    background-size: contain;
    height: 100%;
    width: 6110px;
    position: fixed;
    left: 0; 
    animation: bg 80s linear infinite;
}

.wrapper {
    height: 100vh;
    min-height: 550px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    overflow: hidden; 
}

.main-block {
    min-height: 395px;
    min-width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: rgba(rgb(215, 191, 155), .6);
    border-radius: 10px 10px 0 0;
    transform: translateY(-1%);

    @include tablets {
        min-width: 350px;
    }

    @include phones {
        min-width: 300px;
    }
}

.main-block__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-block__user {
    display: flex;
    margin-bottom: 30px;
}

.nav-block {
    width: 100%;
    max-width: 100%;
    background-color: $yellow;
}

.nav-block__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.nav-block__item {
    border: 0px;
    border-left: 2px solid #fff; 
    a {
        flex: 1 1 auto;
        display: inline-block;
        text-decoration: none;
        color: #fff;
        background-color: $yellow;
        font: 500 16px 'roboto';
        padding: 11px 31px;
        height: 100%;

        @include tablets {
            padding: 11px 26px;
        }

        @include phones {
            font: 400 14px 'roboto';
            padding: 11px 22px;
        }
    }

    a:hover {
        background-color: $rust;
        transition: .5s;
    }

    &:first-child {
        border: 0px;
    }
}

.authorization {
    position: absolute;
    top: 21px;
    right: 5.5%;

    @include smallDesktop {
        right: 1.6%;
    }

    @include phones {
        transform: translate(50%, 0);
        right: 50%;
        top: 10px;
    }
}

.authorization__btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font: 400 16px 'roboto';
    padding: 10px 27px;
    border: 2px solid #fff;
    border-radius: 5px;
    &:hover {
        background-color: #fff;
        color: $rust;
        transition: .5s;
    }

    @include phones {
        font: 400 14px 'roboto';
        padding: 9px 18px;
    }
}

.copyright {
    position: absolute;
    bottom: 37px;
    color: #fff;
    font: 400 16px 'roboto';


    @include phones {
        font: 300 14px 'roboto';
        bottom: 9px;
    }
}

.copyright__list{
    display: flex;
    justify-content: center;

    @include phones {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.copyright__item {
    display: inline-block;
    padding: 0 4px; 
    border-right: 2px solid #fff; 

    &:first-child {
        @include phones {
            border: 0px;
            width: 100%;
            text-align: center;
        }
    }

    &:last-child {
        border: 0px;
    }
}
