.works{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $dark;
    height: 100%;
    overflow: hidden;
    font: 400 16px 'roboto';
    background-color: $bg;
}

.works__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    min-height: 750px;
}

.works__block {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg-beige;
}

.works__subtitle {
    max-width: 400px;
}

.works__main {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.works__desc {
    display: inline-flex;
    width: 420px;
    justify-content: center;
    color: $rust;
    border-top: 1px solid #aeaeab;
    border-bottom: 1px solid #aeaeab;
    margin-bottom: 50px;
}

.works__button {
    text-decoration: none;
    color: #fff;
    background-color: $yellow;
    padding: 10px 20px 10px 50px;
    display: block;
    border-radius: 5px;
    position: relative;

    &:hover {
        background-color: $rust;
        transition: .5s;
    }
}


.my-block {
    width: 100%;
    background-image: url('../images/desert2.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $dark;
    height: 100%;
    overflow: hidden;
    
  &:after {
    content: "";
    display: block;
    height: 145px;
  } 
}

.my-block__title {
    max-width: 500px;
}

.reviews {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews__list {
    display: flex;
    justify-content: center;
}

.reviews__item {
    max-width: 370px;
}

.reviews__text {
    font: 300 16px 'roboto';
}

.reviews__author {
    display: flex;
}

.reviews__avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.reviews__info {
    color: $rust;
    font: 400 16px 'roboto';
}

.reviews__name {
    font: 700 16px 'roboto';
}

.reviews__pic--first {
    transform: translate(0, -10px);
}

.form__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 440px;
    background-color: rgba(#fff, .15);
    border-radius: 5px;
    overflow: hidden;
}

.form__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__input {
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
  
    &:focus {
      outline: none;
      border: 2px solid $yellow;
    }
}
 
.form__textarea {
    height: 110px;
    resize: none;
}

.form__btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}

.form__btn {
    border: 0px;
    border-left: 2px solid #fff; 
    flex: 1 1 auto;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: $yellow;
    font: 500 16px 'roboto';
    padding: 11px 31px;
    height: 100%;

    &:hover {
        background-color: $rust;
        transition: .5s;
        cursor: pointer;
    }
    &:first-child {
        border: 0px;
    }
}
