.works{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $dark;
    height: 100%;
    overflow: hidden;
    font: 400 16px 'roboto';
    background-color: $bg;
}

.works__content {
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include tablets {
        height: 1015px;
        flex-wrap: nowrap;
    }

    @include phones {
        height: 567px;
    }
}

.works__block {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg-beige;
    height: 100%;

    @include tablets {
        order: 2;
        width: 100%;
        height: 268px;
    }

    @include phones {
        height: 212px;
    }
}

.works__title {
    margin-top: 35px;
    margin-bottom: 43px;

    @include tablets {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    @include phones {
        margin-top: 12px;
    }
}

.subtitle {
    max-width: 400px;
    margin-top: -10px;
    margin-bottom: 30px;

    @include tablets {
        margin-top: -25px;
        max-width: 550px;
        margin-bottom: 5px;
    }

    @include phones {
        max-width: 280px;
        margin-bottom: 15px;
        margin-top: -5px;
    }
}

.works-slider__display {
    width: 50%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  #ebe5db;
    height: 75%;

    @include tablets {
        order: 1;
        width: 100%;
        height: 530px;
    }

    @include phones {
        height: 260px;
    }
}

.works-slider__display-pic {
    max-width: 70%;
    max-height: 70%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.works-slider {
    height: 25%;
    width: 50%;
    display: flex;
    position: relative;

    @include tablets {
        order: 3;
        width: 100%;
        height: 217px;
    }

    @include phones {
        height: 95px;
    }
}

.works-slider__controls {
    width: 100%;
    height: 100%;
    // display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

}

.works-slider__control-btn {
    display: block;
    text-decoration: none;
    width: 50%;
    float: left;
    position: relative;
    height: 100%;
    overflow: hidden;
    outline: none !important;
    background-color: $bg;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        background-color: rgba(182,180,174,0.7);
        background-position: center center;
        background-repeat: no-repeat;
        z-index: 1;
    }

     
    &--left .works-slider__control-item {
        position: absolute;
        bottom: 0%;
        left: 0;
        width: 100%;
        height: 100%;
        top: -100%;
    }
 
    &--right .works-slider__control-item {
        position: absolute;
        bottom: 0%;
        left: 0;
        width: 100%;
        height: 100%;
        top: 100%;       
    }

}


.works__content-desc {
    display: inline-flex;
    width: 420px;
    height: 53px;
    justify-content: center;
    color: $rust;
    border-top: 1px solid #aeaeab;
    border-bottom: 1px solid #aeaeab;
    margin-bottom: 40px;
    align-items: center;

    @include tablets {
        margin-bottom: 20px;
    }

    @include phones {
        font-size: 14px;
        height: 32px;
    }
}

.works__content-view {
    text-decoration: none;
    color: #fff;
    background-color: $yellow;
    padding: 11px 20px 11px 50px;
    display: block;
    border-radius: 5px;
    position: relative;

    &:hover {
        background-color: $rust;
        transition: .5s;
    }

    @include phones {
        font-size: 14px;
    }
}


.works-slider__control-item.active {
    transform: none;
    top: 0;
}

.my-block {
    width: 100%;
    background-image: url('../images/desert2.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $dark;
    height: 100%;
    overflow: hidden;
    
    &:after {
        content: "";
        display: block;
        height: 145px;
    } 

    @include tablets {
        &:after {
            content: "";
            display: block;
            height: 223px;
        } 
    }

    @include phones {
        &:after {
            content: "";
            display: block;
            height: 345px;
        } 
    }
}

.my-block__title {
    max-width: 500px;
    margin-top: 60px;
    line-height: 1.05;
    margin-bottom: 60px;

    @include tablets {
        max-width: 400px;
        margin-top: 40px;
        margin-bottom: 43px;
    }

    @include phones {
        line-height: 1.2;
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

.reviews {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 890px;
    padding-left: 20px;

    @include tablets {
        height: 812px;
    }

    @include phones {
        height: 966px;
    }
}

.reviews__list {
    display: flex;
    justify-content: center;
    margin-left: -10px;
    margin-bottom: 72px;
    max-width: 100%;

    @include tablets {
        margin-left: -40px;
        margin-bottom: 55px;
    }

    @include phones {
        margin: 0;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

.reviews__quote {
    margin-bottom: 0;
}

.reviews__item {
    max-width: 370px;

    &:first-child {
        margin-right: 30px;
    }

    @include tablets {
        max-width: 330px;

        &:first-child {    
            margin-right: 40px;
            margin-left: 20px;
        }
    }

    @include phones {
        width: 94%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;

        &:first-child {
            margin: 0;
            margin-bottom: 30px;
        }
    }
}

.reviews__text {
    font: 300 16px 'roboto';
    line-height: 1.625;
    margin-bottom: 22px;

    @include tablets {
        font: 300 14px 'roboto';
        line-height: 1.71;
        margin-bottom: 15px;
    }

    @include phones {
        margin-bottom: 0;
    }
}

.reviews__author {
    display: flex;

    @include phones {
        width: 100%;
    }
}

.reviews__avatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;

    @include phones {
        width: 50px;
        height: 50px;
    }
}

.reviews__info {
    color: $rust;
    font: 400 16px 'roboto';
    margin-top: 15px;
    margin-left: 22px;

    @include tablets {
        font: 300 14px 'roboto';
    }

    @include phones {
        margin-top: 0;
    }
}

.reviews__name {
    font: 700 16px 'roboto';

    @include tablets {
        font: 700 14px 'roboto';
        line-height: 1.71;
    }
}

.reviews__pic--first {
    transform: translate(0, -10px);
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 435px;
    width: 380px;
    background-color: rgba(#fff, .15);
    border-radius: 5px;
    overflow: hidden;

    @include phones {
        width: 300px;
        height: 412px;
    }
}

.form__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 7px 0 7px;

    @include phones {
        margin: 0;
        margin-top: 25px;
        width: 100%;
    }
}

.form__subtitle {
    margin-bottom: 22px;
}

.form__input {
    height: 45px;
    width: 93%;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px 17px;
  
    &:focus {
      outline: none;
      border: 2px solid $yellow;
    }

    @include phones {
        margin-bottom: 20px;
        width: 87%;
    }
}
 
.form__textarea {
    height: 140px;
    resize: none;
}

.form__btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}

.form__btn {
    border: 0px;
    border-left: 2px solid #fff; 
    flex: 1 1 50%;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: $yellow;
    font: 500 16px 'roboto';
    padding: 11px 31px;
    height: 100%;

    &:hover {
        background-color: $rust;
        transition: .5s;
        cursor: pointer;
    }
    &:first-child {
        border: 0px;
    }

    @include phones {
        font: 500 14px 'roboto';
        padding: 13px 31px;
    }
}

.works-slider__arrow-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;   

    &:hover .works-slider__arrow {
        transform: scale(1.4);
        opacity: 1;
    }

    &:hover .works-slider__arrow--up {
        transform: scale(1.4) rotate(180deg);
    }
}


.works-slider__arrow {
    fill: #fff;
    transition: .5s;

    &--up {
        transform: rotate(180deg)
    }

}

.letter-word {
    white-space: nowrap;
    display: inline-block;
    margin: 0 5px;
}

.letter-span {
    display: inline-block;
    opacity: 0;
    transition: .3s;
} 

.letter-span.active {
    opacity: 1;
    transform: none;
}

.my-block__arrow {
    position: absolute;
    bottom: 200px;

    @include tablets {
        bottom: 300px;
    }

    @include phones {
        bottom: 400px;
    }
}