.title-dec {
    font: 500 63px 'sansus_webissimo';
    margin-bottom: 70px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;

    &:before {
        content: url('../images/svg_icons/dots3Left.svg');
        margin: 0 10px 20px 5px;
    }

    &:after {
       content: url('../images/svg_icons/dots3Right.svg');
       margin: 0 5px 20px 10px;
    }

    @include tablets {
        font: 500 49px 'sansus_webissimo';
    }
}

.subtitle-dec {
    font: 500 35px 'sansus_webissimo';
    margin-bottom: 40px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
   
    &:before {
        content: url('../images/svg_icons/dots2Left.svg');
        margin: 0 10px 10px 5px;
    }
    &:after {
        content: url('../images/svg_icons/dots2Right.svg');
        margin: 0 5px 10px 10px;
    }

    @include tablets {
        font: 500 30px 'sansus_webissimo';
    }
}

.title {
    font: 500 63px 'sansus_webissimo';
    margin-bottom: 70px;
    display: inline-flex;
}

.subtitle {
    font: 500 35px 'sansus_webissimo';
    margin-bottom: 40px;
    display: inline-flex;
}

.title-shadow {
    @include shadow-text(0, -20%);
}

.title-shadow--grey {
    @include shadow-text(-70%, -50%);
    fill: $grey;
}

.arrow {
    fill: #fff;
    transform: translate(-50%, -50%);
    fill-opacity: 0.3;

    &--up {
        transform: translate(25%, -50%) rotate(-180deg);
    }

    &:hover {
        transition: .5s;
        fill-opacity: 1;
        cursor: pointer;
    }
}

.menu {
    display: none;
}

.icon {
    fill: #fff;
    position: absolute;
    top: 10px;
    left: 20px;
}