.header {
  height: 612px;
  width: 100%;
  background-image: url('../images/sand.jpg');
  position: relative;
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  z-index: 1;

  &--min {
    height: 415px;
    background-position: 0 15%;
  }

  @include tablets {
    height: 512px;
  }

  @include phones {
    height: 560px;
  }
}

.header__user {
  z-index: 5;
}

.header__content {
  position: absolute;
  top: 19%;
  display: flex;
  flex-direction: column;
  align-items: center; 

  &--min {
    top: 10%;
  }

  @include tablets {
    top: 15%;
  }

  @include phones {
    top: 13.5%;
  }
}

.header__text {
  @include shadow-text(0, 0);
  top: 15%;

  &--min {
    top: 30%;
  }

  @include phones {
    display: none;
  }
}

.header__socials {
  position: absolute;
  top: 30px;
  left: 30px;

  @include phones {
    top: 10px;
    left: 10px;
  }
}

.header__hamburger {
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  top: 25px;
  right: 25px;

  &:hover .hamburger__ico {
    transition: .5s;
    fill: $rust;
    cursor: pointer;
  }
  
  @include phones {
    top: 5px;
    right: 5px;
  }
}

.hamburger__ico {
  fill: #fff;

  @include phones {
    width: 27px;
    height: 27px;
  }
}

.header__arrow {
  position: absolute;
  bottom: 75px;
  left: 50%;
  z-index: 10;
}

.triangle{
  position: absolute;
  bottom: 0;
}

.triangle__part {
  fill: $bg;

  &--biege {
    fill: $bg-beige;

    @include tablets {
      fill: $bg;
    }
  }
}
