.header {
  height: 600px;
  width: 100%;
  background-image: url('../images/sand.jpg');
  position: relative;
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  z-index: 1;

  &--min {
    height: 400px;
    background-position: 0 15%;
  }
}

.header__user {
  z-index: 5;
}

.header__content {
  position: absolute;
  top: 16%;
  display: flex;
  flex-direction: column;
  align-items: center; 

  &--min {
    top: 5%;
  }
}

.header__text {
  @include shadow-text(0, 0);
  top: 15%;

  &--min {
    top: 30%;
  }
}

.header__socials {
  position: absolute;
  top: 30px;
  left: 30px;
}

.header__hamburger {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 25px;
  right: 30px;

  &:hover .hamburger__ico {
    transition: .5s;
    fill: $rust;
    cursor: pointer;
  } 
}

.hamburger__ico {
  fill: #fff;
}

.header__arrow {
  position: absolute;
  bottom: 80px;
  left: 50%;
  z-index: 10;
}

.triangle{
  position: absolute;
  bottom: 0;
}

.triangle__part {
  fill: $bg;

  &--biege {
      fill: $bg-beige;
  }
}
